In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
sector = "healthcare"

In [3]:
df_analysis = pd.read_csv(sector + "_dataset.csv")
df_analysis

             Date  Tick       Close  Polarity  News
0      2016-01-04  AAAP   30.670000  0.000000     0
1      2016-01-05  AAAP   30.880000  0.000000     0
2      2016-01-06  AAAP   29.960000  0.000000     0
3      2016-01-07  AAAP   29.650000  0.000000     0
4      2016-01-08  AAAP   28.000000  0.000000     0
5      2016-01-09  AAAP   27.596667  0.000000     0
6      2016-01-10  AAAP   27.193333  0.000000     0
7      2016-01-11  AAAP   26.790000  0.000000     0
8      2016-01-12  AAAP   24.710000  0.000000     0
9      2016-01-13  AAAP   26.090000  0.000000     0
10     2016-01-14  AAAP   25.240000  0.000000     0
11     2016-01-15  AAAP   24.700000  0.000000     0
12     2016-01-16  AAAP   25.025000  0.000000     0
13     2016-01-17  AAAP   25.350000  0.000000     0
14     2016-01-18  AAAP   25.675000  0.000000     0
15     2016-01-19  AAAP   26.000000  0.000000     0
16     2016-01-20  AAAP   26.780000  0.000000     0
17     2016-01-21  AAAP   26.800000  0.000000     0
18     2016-01-22  AAAP   27.890000  0.000000     0
19     2016-01-23  AAAP   26.860000  0.000000     0
20     2016-01-24  AAAP   25.830000  0.000000     0
21     2016-01-25  AAAP   24.800000  0.000000     0
22     2016-01-26  AAAP   24.860000  0.000000     0
23     2016-01-27  AAAP   24.750000  0.000000     0
24     2016-01-28  AAAP   23.810000  0.000000     0
25     2016-01-29  AAAP   24.880000  0.000000     0
26     2016-01-30  AAAP   25.020000  0.000000     0
27     2016-01-31  AAAP   25.160000  0.000000     0
28     2016-02-01  AAAP   25.300000  0.000000     0
29     2016-02-02  AAAP   24.880000  0.000000     0
...           ...   ...         ...       ...   ...
97914  2017-09-01  ALXN  144.080000 -0.999999     1
97915  2017-09-02  ALXN  144.240000  0.000000     0
97916  2017-09-03  ALXN  144.400000  0.000000     0
97917  2017-09-04  ALXN  144.560000  0.000000     0
97918  2017-09-05  ALXN  144.720000 -1.999998     1
97919  2017-09-06  ALXN  145.120000 -0.499999     1
97920  2017-09-07  ALXN  143.500000  0.000000     1
97921  2017-09-08  ALXN  141.190000  0.999999     1
97922  2017-09-09  ALXN  141.770000  0.000000     0
97923  2017-09-10  ALXN  142.350000  0.000000     0
97924  2017-09-11  ALXN  142.930000  0.333333     1
97925  2017-09-12  ALXN  144.070000 -4.999996     1
97926  2017-09-13  ALXN  146.460000 -1.000000     1
97927  2017-09-14  ALXN  144.610000  3.399997     1
97928  2017-09-15  ALXN  146.690000  0.999999     1
97929  2017-09-16  ALXN  145.673333  0.000000     0
97930  2017-09-17  ALXN  144.656667  0.000000     0
97931  2017-09-18  ALXN  143.640000  2.999997     1
97932  2017-09-19  ALXN  142.830000 -1.999998     1
97933  2017-09-20  ALXN  142.920000 -1.999997     1
97934  2017-09-21  ALXN  142.920000  2.333332     1
97935  2017-09-22  ALXN  142.820000 -0.199999     1
97936  2017-09-23  ALXN  143.200000  0.000000     0
97937  2017-09-24  ALXN  143.580000  0.000000     0
97938  2017-09-25  ALXN  143.960000 -0.999999     1
97939  2017-09-26  ALXN  139.700000  2.333332     1
97940  2017-09-27  ALXN  139.450000  3.599997     1
97941  2017-09-28  ALXN  138.340000  1.000000     1
97942  2017-09-29  ALXN  140.290000 -0.999999     1
97943  2017-09-30  ALXN  140.290000  0.000000     0

[97944 rows x 5 columns]

<h3> Pivoting and Generating Features & Labels </h3>

In [11]:
df_analysis['Signals'] = [[x, y] for x,y in zip(df_analysis['Close'], df_analysis['Polarity'])]
df_analysis.head()

         Date  Tick  Close  Polarity  News       Signals
0  2016-01-04  AAAP  30.67       0.0     0  [30.67, 0.0]
1  2016-01-05  AAAP  30.88       0.0     0  [30.88, 0.0]
2  2016-01-06  AAAP  29.96       0.0     0  [29.96, 0.0]
3  2016-01-07  AAAP  29.65       0.0     0  [29.65, 0.0]
4  2016-01-08  AAAP  28.00       0.0     0   [28.0, 0.0]

In [16]:
#df_pivot = pd.pivot_table(df_analysis, values='Signals', index='Tick', columns='Date')
df_pivot_stock = pd.pivot_table(df_analysis, values='Close', index='Tick', columns='Date')
df_pivot_news = pd.pivot_table(df_analysis, values='Polarity', index='Tick', columns='Date')
df_pivot_stock.head(), df_pivot_stock.tail()

(Date  2016-01-04  2016-01-05  2016-01-06  2016-01-07  2016-01-08  2016-01-09  \
 Tick
 AAAP       30.67       30.88       29.96       29.65       28.00   27.596667
 ABBV       57.61       57.37       57.38       57.21       55.65   55.060000
 ABC       101.87      103.36      101.78       98.53       97.96   96.660000
 ABMD       85.24       85.00       85.30       81.92       84.58   84.720000
 ACAD       34.62       34.46       29.24       28.73       28.04   27.730000

 Date  2016-01-10  2016-01-11  2016-01-12  2016-01-13     ...      2017-09-21  \
 Tick                                                     ...
 AAAP   27.193333       26.79       24.71       26.09     ...           57.15
 ABBV   54.470000       53.88       54.84       51.18     ...           87.41
 ABC    95.360000       94.06       94.18       93.14     ...           80.38
 ABMD   84.860000       85.00       88.32       85.81     ...          159.79
 ACAD   27.420000       27.11       27.04       23.13     ...           37.63

 Date  2017-09-22  2017-09-23  2017-09-24  2017-09-25  2017-09-26  2017-09-27  \
 Tick
 AAAP       55.05   55.383333   55.716667       56.05       58.30       59.76
 ABBV       87.48   87.176667   86.873333       86.57       85.35       84.75
 ABC        81.05   81.026667   81.003333       80.98       82.00       82.43
 ABMD      163.96  162.743333  161.526667      160.31      160.61      163.72
 ACAD       37.59   37.616667   37.643333       37.67       37.43       37.90

 Date  2017-09-28  2017-09-29  2017-09-30
 Tick
 AAAP       65.10       67.62      59.935
 ABBV       88.96       88.86      77.445
 ABC        80.99       82.75      68.695
 ABMD      162.34      168.60     116.950
 ACAD       38.37       37.67      50.655

 [5 rows x 636 columns],
 Date  2016-01-04  2016-01-05  2016-01-06  2016-01-07  2016-01-08  2016-01-09  \
 Tick
 WCG        76.45       78.12       76.70       73.78       72.60   72.710000
 XON        29.17       28.59       26.19       27.14       25.67   24.813333
 XRAY       58.86       60.06       59.19       58.67       56.99   56.620000
 ZBH       101.81      103.93      104.38      101.98      101.55  100.966667
 ZTS        47.27       48.01       48.02       46.56       45.88   45.446667

 Date  2016-01-10  2016-01-11  2016-01-12  2016-01-13     ...      2017-09-21  \
 Tick                                                     ...
 WCG    72.820000       72.93       75.20       72.18     ...          166.06
 XON    23.956667       23.10       23.20       21.38     ...           18.75
 XRAY   56.250000       55.88       56.49       55.52     ...           57.81
 ZBH   100.383333       99.80      102.87      101.20     ...          113.06
 ZTS    45.013333       44.58       44.97       43.25     ...           64.24

 Date  2017-09-22  2017-09-23  2017-09-24  2017-09-25  2017-09-26  2017-09-27  \
 Tick
 WCG       167.16  166.156667  165.153333      164.15      165.42      168.22
 XON        18.75   18.733333   18.716667       18.70       18.69       19.01
 XRAY       58.53   58.740000   58.950000       59.16       59.55       59.77
 ZBH       114.40  114.390000  114.380000      114.37      114.75      116.25
 ZTS        64.16   63.996667   63.833333       63.67       63.33       63.21

 Date  2017-09-28  2017-09-29  2017-09-30
 Tick
 WCG       170.91      171.74     116.455
 XON        18.82       19.01     100.735
 XRAY       59.23       59.81      74.915
 ZBH       115.66      117.09     102.660
 ZTS        63.32       63.76      63.995

 [5 rows x 636 columns])

<h3> Prepare input for Tensor Flow </h3>

In [18]:
window = 100
features = []
labels = []
perc_var = []
dates = []

i = 0
end_col = window + 1

while end_col + i < df_pivot_stock.shape[1]:
    features.append(np.array([df_pivot_stock.iloc[:, i:end_col+i-1].values, df_pivot_news.iloc[:, i:end_col+i-1].values]))
    l = (df_pivot_stock.iloc[:,end_col+i] - df_pivot_stock.iloc[:,end_col+i-1]).map(lambda x: 1 if x>0 else 0).values
    labels.append(l)
    
    perc_var.append( ((df_pivot_stock.iloc[:,end_col+i] - df_pivot_stock.iloc[:,end_col+i-1]) / df_pivot_stock.iloc[:,end_col+i-1]).values )
    dates.append(df_pivot_stock.columns[end_col+i])
    i = i + 1

features = np.array(features)
labels = np.array(labels)
perc_var = np.array(perc_var)
features.shape, labels.shape, features[0], labels[0:2], perc_var.shape, perc_var[0], dates[-100:]

((535, 2, 154, 100),
 (535, 154),
 array([[[  30.67      ,   30.88      ,   29.96      , ...,   35.76666667,
            35.8       ,   35.75      ],
         [  57.61      ,   57.37      ,   57.38      , ...,   58.49      ,
            58.5       ,   59.89      ],
         [ 101.87      ,  103.36      ,  101.78      , ...,   84.73      ,
            84.44      ,   84.9       ],
         ...,
         [  58.86      ,   60.06      ,   59.19      , ...,   59.57333333,
            59.5       ,   59.71      ],
         [ 101.81      ,  103.93      ,  104.38      , ...,  109.18666667,
           109.3       ,  111.57      ],
         [  47.27      ,   48.01      ,   48.02      , ...,   46.76      ,
            46.67      ,   47.01      ]],

        [[   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ],
         [   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ],
         [   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ],
         ...,
         [   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ],
         [   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ],
         [   0.        ,    0.        ,    0.        , ...,    0.        ,
             0.        ,    0.        ]]]),
 array([[0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
         0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
         1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
         1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
         0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
         1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
         0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1],
        [0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
         1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
         0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
         1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
         1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
         0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
         0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1]], dtype=int64),
 (535, 154),
 array([  0.00000000e+00,   3.72502540e-03,   1.79640719e-02,
         -1.21740895e-02,   1.71583384e-02,   3.46106304e-02,
          1.33779264e-02,  -7.68952415e-03,  -8.07754443e-03,
          8.17757009e-03,   5.47270488e-04,   1.33641737e-02,
         -2.30580775e-02,   1.22318158e-02,   3.74859428e-04,
         -2.36851271e-03,   1.27388535e-02,   2.97872340e-02,
          3.38524035e-03,   7.32168162e-03,  -6.78853707e-04,
         -4.96917851e-03,  -7.92644261e-03,  -4.30574467e-03,
         -1.59668835e-02,   3.72797108e-03,   4.43984017e-03,
         -4.60000000e-02,  -1.02197241e-03,   4.76928580e-04,
          3.24475984e-05,  -5.66914498e-03,   9.52803014e-03,
         -1.45985401e-02,   5.33728688e-02,  -8.53985265e-03,
         -6.65374677e-03,   4.12371134e-03,  -2.22993062e-03,
          3.03438975e-03,  -1.97765253e-04,   2.51716247e-02,
          9.96995356e-03,   1.34789055e-04,   1.77622590e-02,
          8.43763184e-04,   3.51554415e-04,  -7.66248154e-03,
          0.00000000e+00,  -4.53514739e-03,  -9.24574209e-03,
          2.92660964e-03,  -1.96319018e-02,   1.02891244e-02,
          5.52995392e-03,  -2.08942750e-03,   6.49350649e-03,
          2.82220132e-03,   1.53023140e-02,  -4.81313703e-03,
          1.48883375e-03,   3.72856078e-03,   3.20256205e-03,
         -8.40477391e-03,   1.27706830e-02,   6.94444444e-03,
          1.49672591e-03,   1.18063754e-03,  -1.01200282e-02,
         -9.51474786e-04,   8.64840704e-04,  -1.27379995e-02,
          2.50747420e-03,  -7.83095090e-03,   1.03135314e-03,
         -8.58369099e-03,   7.61035008e-04,  -6.12959720e-03,
         -6.22009569e-03,  -7.12637437e-03,  -2.73049968e-04,
          5.56973776e-03,   2.13309175e-02,   6.42706131e-03,
          1.02420857e-02,   6.25332624e-03,   3.69047619e-02,
         -1.12406913e-03,  -2.10378682e-03,   9.21658986e-03,
          0.00000000e+00,   3.87897595e-04,   7.14898484e-03,
         -2.55056646e-03,  -6.79560899e-03,  -2.01230667e-02,
         -1.20909237e-02,   8.75625447e-03,  -7.50964076e-03,
         -1.24050633e-02,   7.83566285e-03,   1.58248428e-02,
         -2.44548604e-03,  -5.23903078e-03,  -2.55855147e-03,
         -3.21830860e-03,   2.30804739e-03,   8.48243870e-03,
         -1.99430199e-03,  -1.27737226e-02,   1.77179305e-03,
          8.52272727e-03,  -2.24114747e-03,   2.81800391e-02,
          3.38045482e-03,  -1.74418605e-03,  -3.11203320e-03,
          1.87808123e-03,   1.04992501e-02,  -6.64451827e-03,
         -4.71428571e-03,  -1.26156434e-03,  -5.60695262e-03,
          1.28905397e-02,  -8.98859982e-03,  -1.21282605e-02,
          3.31553807e-02,   1.14099430e-02,   2.21688034e-02,
         -1.51134876e-02,   1.17612467e-02,   2.07900208e-02,
         -1.56599553e-02,  -3.89863548e-03,  -1.02781137e-02,
          4.37876300e-03,  -1.52868910e-02,  -8.63557858e-03,
          1.61754134e-03,  -1.09379968e-02,  -2.58474197e-03,
         -3.09070549e-02,   3.91311292e-03,   1.72197871e-03,
         -3.99513636e-03,   8.57591497e-03,   2.23057056e-02,
         -2.23564955e-02,   2.22002960e-03,   8.25264085e-03,
          6.47240123e-02,   3.84615385e-03,   8.56269113e-03,
          3.57894737e-03]),
 ['2017-06-23',
  '2017-06-24',
  '2017-06-25',
  '2017-06-26',
  '2017-06-27',
  '2017-06-28',
  '2017-06-29',
  '2017-06-30',
  '2017-07-01',
  '2017-07-02',
  '2017-07-03',
  '2017-07-04',
  '2017-07-05',
  '2017-07-06',
  '2017-07-07',
  '2017-07-08',
  '2017-07-09',
  '2017-07-10',
  '2017-07-11',
  '2017-07-12',
  '2017-07-13',
  '2017-07-14',
  '2017-07-15',
  '2017-07-16',
  '2017-07-17',
  '2017-07-18',
  '2017-07-19',
  '2017-07-20',
  '2017-07-21',
  '2017-07-22',
  '2017-07-23',
  '2017-07-24',
  '2017-07-25',
  '2017-07-26',
  '2017-07-27',
  '2017-07-28',
  '2017-07-29',
  '2017-07-30',
  '2017-07-31',
  '2017-08-01',
  '2017-08-02',
  '2017-08-03',
  '2017-08-04',
  '2017-08-05',
  '2017-08-06',
  '2017-08-07',
  '2017-08-08',
  '2017-08-09',
  '2017-08-10',
  '2017-08-11',
  '2017-08-12',
  '2017-08-13',
  '2017-08-14',
  '2017-08-15',
  '2017-08-16',
  '2017-08-17',
  '2017-08-18',
  '2017-08-19',
  '2017-08-20',
  '2017-08-21',
  '2017-08-22',
  '2017-08-23',
  '2017-08-24',
  '2017-08-25',
  '2017-08-26',
  '2017-08-27',
  '2017-08-28',
  '2017-08-29',
  '2017-08-30',
  '2017-08-31',
  '2017-09-01',
  '2017-09-02',
  '2017-09-03',
  '2017-09-04',
  '2017-09-05',
  '2017-09-06',
  '2017-09-07',
  '2017-09-08',
  '2017-09-09',
  '2017-09-10',
  '2017-09-11',
  '2017-09-12',
  '2017-09-13',
  '2017-09-14',
  '2017-09-15',
  '2017-09-16',
  '2017-09-17',
  '2017-09-18',
  '2017-09-19',
  '2017-09-20',
  '2017-09-21',
  '2017-09-22',
  '2017-09-23',
  '2017-09-24',
  '2017-09-25',
  '2017-09-26',
  '2017-09-27',
  '2017-09-28',
  '2017-09-29',
  '2017-09-30'])

<h3> Split Train - Eval </h3>

In [19]:
train_features = features[:-100]
test_features = features[-100:]
train_labels = labels[:-100]
test_labels = labels[-100:]

train_features.shape, test_features.shape, train_labels.shape, test_labels.shape

((435, 2, 154, 100), (100, 2, 154, 100), (435, 154), (100, 154))

<h3> TRAIN CNN </h3>

In [20]:
exec(open("cnn_stocks.py").read())

In [21]:
# Create the Estimator
stocks_classifier = tf.estimator.Estimator(model_fn=cnn_model_fn, model_dir="../tmp/stocks_convnet_model")

# Set up logging for predictions
tensors_to_log = {"probabilities": "softmax_tensor"}
logging_hook = tf.train.LoggingTensorHook(tensors=tensors_to_log, every_n_iter=50)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': '../tmp/stocks_convnet_model', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001334A763198>, '_task_type': 'worker', '_task_id': 0, '_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [ ]:
# Train the model
train_input_fn = tf.estimator.inputs.numpy_input_fn(
    x={"x": train_features},
    y=train_labels,
    batch_size=100,
    num_epochs=None,
    shuffle=True)

stocks_classifier.train(
    input_fn=train_input_fn,
    steps=1000,
    hooks=[logging_hook])

Tensor("Reshape:0", shape=(100, 154, 100, 2), dtype=float32)
Tensor("conv2d/Relu:0", shape=(100, 154, 100, 32), dtype=float32)
Tensor("max_pooling2d/MaxPool:0", shape=(100, 154, 50, 32), dtype=float32)
Tensor("conv2d_2/Relu:0", shape=(100, 154, 50, 8), dtype=float32)
Tensor("max_pooling2d_2/MaxPool:0", shape=(100, 154, 10, 8), dtype=float32)
Tensor("conv2d_3/Relu:0", shape=(100, 154, 10, 2), dtype=float32)
Tensor("max_pooling2d_3/MaxPool:0", shape=(100, 154, 5, 2), dtype=float32)
Tensor("Reshape_1:0", shape=(100, 1540), dtype=float32)
Tensor("dense/Relu:0", shape=(100, 512), dtype=float32)
Tensor("dropout/dropout/mul:0", shape=(100, 512), dtype=float32)
Tensor("dense_2/BiasAdd:0", shape=(100, 154), dtype=float32)
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Restoring parameters from ../tmp/stocks_convnet_model\model.ckpt-1000
INFO:tensorflow:Saving checkpoints for 1001 into ../tmp/stocks_convnet_model\model.ckpt.
INFO:tensorflow:probabilities = [[ 0.0065141   0.00626917  0.00621593 ...,  0.0070957   0.00602019
   0.0061915 ]
 [ 0.00623434  0.00556478  0.00729249 ...,  0.00763958  0.00515678
   0.00609095]
 [ 0.00689958  0.00635016  0.00588501 ...,  0.00775586  0.00586266
   0.00612606]
 ...,
 [ 0.00655254  0.00646214  0.00668464 ...,  0.00694658  0.00655524
   0.00607475]
 [ 0.00645801  0.00648368  0.00638098 ...,  0.0071753   0.00632669
   0.00662412]
 [ 0.0068834   0.00664322  0.00739534 ...,  0.00746447  0.00632296
   0.00597515]]
INFO:tensorflow:loss = 0.692467, step = 1001

<h3> Model Evaluation </h3>

In [ ]:
import datetime as dt
first_saturday = dt.datetime.strptime("2017-06-24", "%Y-%m-%d")

holidays_2017 = ['2017-01-02',
                 '2017-01-16',
                 '2017-02-20',
                 '2017-04-14',
                 '2017-05-29',
                 '2017-07-04',
                 '2017-09-04',
                 '2017-11-23',
                 '2017-12-25']

eval_days = [x not in holidays_2017 and (dt.datetime.strptime(x, "%Y-%m-%d") - first_saturday).days % 7 > 1 
     for x in dates[-100:]]

In [ ]:
perc_var_eval = perc_var[-100:]

new_perc_val = []

finished = False
i = 0
while i < len(perc_var_eval):
    print (eval_days[i])
    if eval_days[i]:
        new_perc_val.append(perc_var_eval[i])
        i = i + 1
    else:
        cumulative = 0
        while(not eval_days[i]):
            cumulative = perc_var_eval[i]
            new_perc_val.append(np.array([0 for k in perc_var_eval[i]]))
            i = i + 1
            if i >= len(eval_days):
                finished = True
                break;
        if not finished:
            new_perc_val.append(perc_var_eval[i] + cumulative)
            i = i + 1

perc_var_eval = new_perc_val

In [ ]:
eval_input_fn = tf.estimator.inputs.numpy_input_fn(
    x={"x": test_features},
    y=test_labels,
    num_epochs=1,
    shuffle=False)

earnings = []
for N in range(1, 155):
    eval_results = stocks_classifier.predict(input_fn=eval_input_fn)
    
    capital = 1
    for i, r in enumerate(eval_results):
        top_n = r['probabilities'].argsort()[-N:][::-1]
        allocation = [0 for x in perc_var_eval[i]]
        for j, t in enumerate(top_n):
            allocation[t] = capital / N

        variation = allocation + (allocation * perc_var_eval[i])
        capital = variation.sum()
    earnings.append(capital)

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt

plt.figure(figsize=[16,8])
plt.plot([i for i in range(1,155)], [(e-1)*100 for e in earnings])
plt.plot([i for i in range(1,155)], [(earnings[-1]-1)*100 for j in range(154)])
plt.plot([i for i in range(1,155)], [0 for j in range(154)], 'r--')
plt.xticks([i for i in range(1, 155) if (i)%5 == 0 or i==1])

#plt.annotate(str((max(earnings)-1)*100 + "% with {} stocks".format(earnings.index(max(earnings))+1)), xy=(earnings.index(max(earnings))+1, (max(earnings)-1)*100)) 

plt.title("Performance Analysis")
plt.ylabel("% Gain/Loss")
plt.xlabel("# Picked Stocks")
plt.grid(True)
plt.savefig('performance.eps', format='eps')

In [ ]:
max(earnings), min(earnings), earnings[-1], (max(earnings)-1)/(earnings[-1] - 1)

In [ ]:
earnings.index(max(earnings)) + 1